<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd">

<!--
    This is project's spring-dao.xml.
    @author Conan Zhang
    @date 2013-03-11
-->

	<bean id="databaseSourceDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
		<property name="mapperInterface" value="com.tianji.r.biz.source.dao.DatabaseSourceDAO"/>
	</bean>

	<bean id="scpSourceDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
		<property name="mapperInterface" value="com.tianji.r.biz.source.dao.ScpSourceDAO"/>
	</bean>

	<bean id="sshSourceDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
		<property name="mapperInterface" value="com.tianji.r.biz.source.dao.SshSourceDAO"/>
	</bean>

	<bean id="hdfsSourceDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
		<property name="mapperInterface" value="com.tianji.r.biz.source.dao.HdfsSourceDAO"/>
	</bean>

	<bean id="hiveSourceDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
		<property name="mapperInterface" value="com.tianji.r.biz.source.dao.HiveSourceDAO"/>
	</bean>

	<bean id="transportSourceDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
		<property name="mapperInterface" value="com.tianji.r.biz.source.dao.TransportSourceDAO"/>
	</bean>

	<bean id="dbtableDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
		<property name="mapperInterface" value="com.tianji.r.biz.struct.dao.DbtableDAO"/>
	</bean>

	<bean id="dbtableOutDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
		<property name="mapperInterface" value="com.tianji.r.biz.struct.dao.DbtableOutDAO"/>
	</bean>

	<bean id="dbtableConfDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
		<property name="mapperInterface" value="com.tianji.r.biz.struct.dao.DbtableConfDAO"/>
	</bean>

	<bean id="confGroupDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
		<property name="mapperInterface" value="com.tianji.r.biz.struct.dao.ConfGroupDAO"/>
	</bean>

	<bean id="jobTaskDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
		<property name="mapperInterface" value="com.tianji.r.biz.job.dao.JobTaskDAO"/>
	</bean>

	<bean id="jobStepDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
		<property name="mapperInterface" value="com.tianji.r.biz.job.dao.JobStepDAO"/>
	</bean>

	<bean id="jobStepComposeDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
		<property name="mapperInterface" value="com.tianji.r.biz.job.dao.JobStepComposeDAO"/>
	</bean>

	<bean id="jobDAO" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
		<property name="mapperInterface" value="com.tianji.r.biz.job.dao.JobDAO"/>
	</bean>

	
</beans>