<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:batch="http://www.springframework.org/schema/batch"
	xmlns:hadoop="http://www.springframework.org/schema/hadoop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/batch 
		http://www.springframework.org/schema/batch/spring-batch-2.1.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/hadoop 
		http://www.springframework.org/schema/hadoop/spring-hadoop.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<description>
		PYMK -- Same School
	</description>
	
	<bean id="sameSchool_importIntoHdfsTask" class="com.tianji.r.core.job.task.HdfsImportTask">
		<property name="hdfsNewList">
			<list>
				<ref bean="hdfs_o_same_school"/>
			</list>
		</property>
	</bean>
	
	
	<bean id="sameSchool_MapRedAlgorithmConf" class="com.tianji.r.core.conf.MapRedAlgorithmConf">
		<property name="hdfsPath" ref="hdfs_o_same_school"/>
		<property name="mapReduceClass" value="com.tianji.r.core.algorithm.pymk.SameSchoolMRAlgorithm"/>
		<property name="mapperClass" value="com.tianji.r.core.algorithm.pymk.SameSchoolMRAlgorithm$SameSchoolMapper"/>
		<property name="reducerClass" value="com.tianji.r.core.algorithm.pymk.SameSchoolMRAlgorithm$SameSchoolReducer"/>
		<property name="outputKeyClass" value="org.apache.hadoop.io.Text"/>
		<property name="outputValueClass" value="org.apache.hadoop.io.IntWritable"/>
	</bean>
	
	<bean id="sameSchool_MapRedAlgorithmTask" class="com.tianji.r.core.job.task.MapRedAlgorithmTask">
		<property name="jobConf" ref="sameSchool_MapRedAlgorithmConf" />
	</bean>
	
	<bean id="sameSchool_HiveImportTask" class="com.tianji.r.core.job.task.HiveImportTask">
		<property name="hiveNewList">
			<list>
				<ref bean="hive_o_same_school"/>
			</list>
		</property>
	</bean>

	<batch:job id="sameSchool_MapRedJob">
		<batch:step id="sameSchool_importIntoHdfsStep" next="sameSchool_MapRedAlgorithmStep">
			<batch:tasklet ref="sameSchool_importIntoHdfsTask" />
		</batch:step>
		
		<batch:step id="sameSchool_MapRedAlgorithmStep" next="sameSchool_HiveImportStep">
			<batch:tasklet ref="sameSchool_MapRedAlgorithmTask" />
		</batch:step> 
		
		<batch:step id="sameSchool_HiveImportStep">
			<batch:tasklet ref="sameSchool_HiveImportTask" />
		</batch:step>
	</batch:job>
	
	<!-- spring-batch version 	
	<hadoop:job id="sameSchoolMRJob" 
	     input-path="/user/hdfs/o_same_company" 
	     output-path="/user/hdfs/o_same_company/result" 
	     mapper="com.tianji.r.core.algorithm.pymk.SameSchoolMapper"
	     reducer="com.tianji.r.core.algorithm.pymk.SameSchoolReducer"/>
	--> 

</beans>
