<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:batch="http://www.springframework.org/schema/batch"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/batch 
		http://www.springframework.org/schema/batch/spring-batch-2.1.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<description>
		PYMK - Database Sync
	</description>

	<bean id="sameCompany" class="com.tianji.r.core.conf.DatabaseJobConf">
		<property name="taskName" value="sameCompany" />
		<property name="outFileTable" ref="out_table_sameCompany" />
		<property name="dbTable" ref="table_o_same_company" />
	</bean>

	<bean id="sameSchool" class="com.tianji.r.core.conf.DatabaseJobConf">
		<property name="taskName" value="sameSchool" />
		<property name="outFileTable" ref="out_table_sameSchool" />
		<property name="dbTable" ref="table_o_same_school" />
	</bean>
	
	<bean id="sameIP" class="com.tianji.r.core.conf.DatabaseJobConf">
		<property name="taskName" value="sameIP" />
		<property name="outFileTable" ref="out_table_sameIP" />
		<property name="dbTable" ref="table_o_same_IP" />
	</bean>
	
	<!-- PostgreSQL Import 
	<bean id="sameIP" class="com.tianji.r.core.conf.DatabaseJobConf">
		<property name="taskName" value="sameIP" />
		<property name="outFileTable" ref="out_table_sameIP" />
		<property name="dbTable" ref="table_login_address_test" />
	</bean>
	 -->

	<bean id="addressBooks" class="com.tianji.r.core.conf.DatabaseJobConf">
		<property name="taskName" value="addressBooks" />
		<property name="outFileTable" ref="out_table_addressBooks" />
		<property name="dbTable" ref="table_o_address_books" />
	</bean>

	<bean id="accounts" class="com.tianji.r.core.conf.DatabaseJobConf">
		<property name="taskName" value="accounts" />
		<property name="outFileTable" ref="out_table_accounts" />
		<property name="dbTable" ref="table_o_accounts" />
	</bean>

	<bean id="friendships" class="com.tianji.r.core.conf.DatabaseJobConf">
		<property name="taskName" value="friendships" />
		<property name="outFileTable" ref="out_table_friendships" />
		<property name="dbTable" ref="table_o_friendships" />
	</bean>
	
	<bean id="pymk_dbsync_DBTableExportTask" class="com.tianji.r.core.job.task.DBTableExportTask">
		<property name="dbSyncConfList">
			<list>
				 <!--<ref bean="sameSchool" />
				<ref bean="sameCompany" />
				<ref bean="addressBooks" />
				<ref bean="accounts" />
				<ref bean="friendships" />  -->
				
				<ref bean="sameIP"/>
			</list>
		</property>
	</bean>

	<bean id="pymk_dbsync_FileDownloadTask" class="com.tianji.r.core.job.task.FileDownloadTask">
		<property name="dbSyncConfList">
			<list>
				<!--<ref bean="sameSchool" />
			<ref bean="sameCompany" />
				<ref bean="addressBooks" />
				<ref bean="accounts" />
				<ref bean="friendships" />--> 
				 <ref bean="sameIP"/>
			</list>
		</property>
	</bean>

	<bean id="pymk_dbsync_DBTableImportTask" class="com.tianji.r.core.job.task.DBTableImportTask">
		<property name="dbSyncConfList">
			<list>
				<!--<ref bean="sameSchool" />
				<ref bean="sameCompany" />
				<ref bean="addressBooks" />
				<ref bean="accounts" />
				<ref bean="friendships" />--> 
				<ref bean="sameIP"/>
			</list>
		</property>
	</bean>

	<batch:job id="pymk_dbSyncJob">
		<batch:step id="pymk_dbsync_DBTableExportStep" next="pymk_dbsync_FileDownloadStep">
			<batch:tasklet ref="pymk_dbsync_DBTableExportTask" />
		</batch:step>
		<batch:step id="pymk_dbsync_FileDownloadStep" next="pymk_dbsync_DBTableImportStep">
			<batch:tasklet ref="pymk_dbsync_FileDownloadTask" />
		</batch:step>
		<batch:step id="pymk_dbsync_DBTableImportStep">
			<batch:tasklet ref="pymk_dbsync_DBTableImportTask" />
		</batch:step>
	</batch:job>

</beans>
