<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:batch="http://www.springframework.org/schema/batch"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/batch 
		http://www.springframework.org/schema/batch/spring-batch-2.1.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<description>
		PYMK -- Merge And Filter
	</description>

	<bean id="pymkMergeFilter_JobConf" class="com.tianji.r.core.conf.HiveJobConf">
		<property name="importIntoHiveTables">
			<list>
				<value>o_friendships</value>
			</list>
		</property>
		<property name="hiveQuerys">
			<list>
				<value>
					<![CDATA[
						INSERT OVERWRITE TABLE r_pymk_merge_rule
					 	SELECT a,b,rule FROM (
							SELECT DISTINCT a,b,rule FROM (
								select b as a,a as b,'same_company' AS rule from r_same_company where a>b
								UNION ALL
								select a,b,'same_company' AS rule from r_same_company where a<b
							) t_r_same_company
							
							UNION ALL
							SELECT DISTINCT a,b,rule FROM (
								select b as a,a as b,'address_book' AS rule from r_address_book where a>b
								UNION ALL
								select a,b,'address_book' AS rule from r_address_book where a<b
							) t_r_address_book
							
							UNION ALL
							SELECT DISTINCT a,b,rule FROM (
								select b as a,a as b,'same_school' AS rule from r_same_school where a>b
								UNION ALL
								select a,b,'same_school' AS rule from r_same_school where a<b
							) t_r_same_school
						) t1
						ORDER BY a ASC, b ASC
					]]>
				</value>
			</list>
		</property>
		<!-- 
		<property name="exportHiveTable">
			<list>
				<value>r_address_book</value>
			</list>
		</property>
		<property name="exportResultTable">
			<list>
				<value>r_address_book</value>
			</list>
		</property>
		-->
	</bean>
	
	<bean id="pymkMergeFilter_importIntoHiveTask" class="com.tianji.r.core.job.task.ImportIntoHiveTask">
		<property name="jobConf" ref="pymkMergeFilter_JobConf" />
		<property name="dataSource" ref="rDataSource" />
		<property name="hiveSource" ref="rHiveSource" />
	</bean>

	<bean id="mergeHiveAlgorithmTask" class="com.tianji.r.core.job.task.HiveAlgorithmTask">
		<property name="jobConf" ref="pymkMergeFilter_JobConf" />
		<property name="hiveTemplate" ref="rHiveTemplate" />
	</bean>
	
	
<!-- 
	<bean id="exportHiveResultTask" class="com.tianji.r.core.job.task.ExportHiveResultTask">
		<property name="jobConf" ref="addressBookJobConf" />
		<property name="dataSource" ref="resultDataSource" />
		<property name="hiveSource" ref="rHiveSource" />
	</bean>
-->
	<batch:job id="pymkMergeFilterJob">
		<batch:step id="pymkMergeFilter_importIntoHiveStep" next="mergeHiveAlgorithmStep">
			<batch:tasklet ref="pymkMergeFilter_importIntoHiveTask" />
		</batch:step>

		<batch:step id="mergeHiveAlgorithmStep">
			<batch:tasklet ref="mergeHiveAlgorithmTask" />
		</batch:step>
	
		<!-- 
		<batch:step id="exportResultStep">
			<batch:tasklet ref="exportHiveResultTask" />
		</batch:step> -->
	</batch:job> 

</beans>
