<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:batch="http://www.springframework.org/schema/batch"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/batch 
		http://www.springframework.org/schema/batch/spring-batch-2.1.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<description>
		PYMK - Database Sync
	</description>

	<bean id="sameCompany" class="com.tianji.r.core.conf.DatabaseJobConf">
		<property name="taskName" value="sameCompany" />
		<property name="outFileTable" ref="out_table_sameCompany" />
		<property name="transport" ref="scp_download" />
		<property name="dbTable" ref="table_o_same_company" />
	</bean>

	<bean id="sameSchool" class="com.tianji.r.core.conf.DatabaseJobConf">
		<property name="taskName" value="sameSchool" />
		<property name="outFileTable" ref="out_table_sameSchool" />
		<property name="transport" ref="scp_download" />
		<property name="dbTable" ref="table_o_same_school" />
	</bean>

	<bean id="addressBooks" class="com.tianji.r.core.conf.DatabaseJobConf">
		<property name="taskName" value="addressBooks" />
		<property name="outFileTable" ref="out_table_addressBooks" />
		<property name="transport" ref="scp_download" />
		<property name="dbTable" ref="table_o_address_books" />
	</bean>

	<bean id="accounts" class="com.tianji.r.core.conf.DatabaseJobConf">
		<property name="taskName" value="accounts" />
		<property name="outFileTable" ref="out_table_accounts" />
		<property name="transport" ref="scp_download" />
		<property name="dbTable" ref="table_o_accounts" />
	</bean>

	<bean id="friendships" class="com.tianji.r.core.conf.DatabaseJobConf">
		<property name="taskName" value="friendships" />
		<property name="outFileTable" ref="out_table_friendships" />
		<property name="transport" ref="scp_download" />
		<property name="dbTable" ref="table_o_friendships" />
	</bean>
	
	<bean id="scp_download" class="com.tianji.r.core.conf.model.SCPTransportModel">
		<property name="localFolder" value="D:/workspace/java/tianji-recommmendation/metadata/data/"/>
		<property name="protocol" value="SCP"/>
		<property name="conection" ref="qaSCPConnection"/>
	</bean>

	<bean id="dbsyncList" class="com.tianji.r.core.conf.DatabaseJobConfList">
		<property name="dbSyncConfList">
			<list>
				<ref bean="sameSchool" />
				<ref bean="sameCompany" />
				<ref bean="addressBooks" />
				<ref bean="accounts" />
				<ref bean="friendships" />
			</list>
		</property>
	</bean>

	<bean id="pymk_dbsync_DBTableExportListTask" class="com.tianji.r.core.job.task.DBTableExportListTask">
		<property name="jobConf" ref="dbsyncList" />
	</bean>

	<bean id="pymk_dbsync_FileDownloadListTask" class="com.tianji.r.core.job.task.FileDownloadListTask">
		<property name="jobConf" ref="dbsyncList" />
	</bean>

	<bean id="pymk_dbsync_DBTableImportListTask" class="com.tianji.r.core.job.task.DBTableImportListTask">
		<property name="jobConf" ref="dbsyncList" />
	</bean>

	<batch:job id="pymk_dbSyncJob">
		<batch:step id="pymk_dbsync_DBTableExportListStep" next="pymk_dbsync_FileDownloadListStep">
			<batch:tasklet ref="pymk_dbsync_DBTableExportListTask" />
		</batch:step>
		<batch:step id="pymk_dbsync_FileDownloadListStep" next="pymk_dbsync_DBTableImportListStep">
			<batch:tasklet ref="pymk_dbsync_FileDownloadListTask" />
		</batch:step>
		<batch:step id="pymk_dbsync_DBTableImportListStep">
			<batch:tasklet ref="pymk_dbsync_DBTableImportListTask" />
		</batch:step>
	</batch:job>

</beans>
