<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:batch="http://www.springframework.org/schema/batch"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/batch 
		http://www.springframework.org/schema/batch/spring-batch-2.1.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<description>
		PYMK -- Address Book
	</description>
	
	<!-- 	
	<bean id="addressBook_DBTransformConf" class="com.tianji.r.core.conf.DatabaseTransformConf">
		<property name="dataSource" ref="rDataSource" />
		<property name="sqls">
			<list>
				<value>
					<![CDATA[
					 	SELECT user_id,email,create_time FROM o_address_books LIMIT 10
					]]>
				</value>
			</list>
		</property>
	</bean> 
	-->
	
	<bean id="hive_o_address_books" class="com.tianji.r.core.conf.model.HiveTableNew">
		<property name="dbTable" ref="table_o_address_books"/>
		<property name="loadWay" value="OVERRIDE" />
		<property name="hiveSource" ref="rHiveSource" />
	</bean>
	
	<bean id="hive_o_accounts" class="com.tianji.r.core.conf.model.HiveTableNew">
		<property name="dbTable" ref="table_o_accounts"/>
		<property name="loadWay" value="OVERRIDE" />
		<property name="hiveSource" ref="rHiveSource" />
	</bean>
	
	<bean id="hive_r_address_book" class="com.tianji.r.core.conf.model.HiveTableNew">
		<property name="tableName" value="r_address_book"/>
		<property name="loadWay" value="OVERRIDE" />
		<property name="hiveSource" ref="rHiveSource" />
		<property name="createHQLs">
			<value>
				<![CDATA[
				CREATE TABLE r_address_book(a int,b int)
				ROW FORMAT DELIMITED 
				FIELDS TERMINATED BY '\t'
				]]>
			</value>
		</property>
		<property name="dropHQLs">
			<value>
				<![CDATA[
				DROP TABLE IF EXISTS r_address_book
				]]>
			</value>
		</property> 
	</bean>
	
		
	<bean id="addressBook_HiveAlgorithmConf" class="com.tianji.r.core.conf.HiveAlgorithmConf">
		<property name="hiveTemplate" ref="rHiveTemplate" />
		<property name="hiveTable" ref="hive_r_address_book"/>
		<property name="hqls">
			<list>
				<value>
					<![CDATA[
					 	INSERT OVERWRITE TABLE r_address_book
					 	SELECT ab.user_id a,a.id b
						FROM o_address_books ab JOIN o_accounts a ON ab.email=a.email
						ORDER BY a
					]]>
				</value>
			</list>
		</property>
	</bean>
	
	<bean id="addressBook_HiveTableOutDB" class="com.tianji.r.core.conf.model.HiveTableOutDB">
		<property name="hiveTable" ref="hive_r_address_book"/>
		<property name="dbTable" ref="result_r_address_books"/>
		<property name="loadWay" value="OVERRIDE" />
	</bean>
	
	<!-- 	
	<bean id="addressBook_DBTransformTask" class="com.tianji.r.core.job.task.DBTransformTask">
		<property name="jobConf" ref="addressBook_DBTransformConf"/>
	</bean> 
	-->

	<bean id="addressBook_HiveImportTask" class="com.tianji.r.core.job.task.HiveImportTask">
		<property name="hiveNewList">
			<list>
				<ref bean="hive_o_accounts"/>
				<ref bean="hive_o_address_books"/>
			</list>
		</property>
	</bean>
	
	<bean id="addressBook_HiveAlgorithmTask" class="com.tianji.r.core.job.task.HiveAlgorithmTask">
		<property name="jobConf" ref="addressBook_HiveAlgorithmConf" />
	</bean>

	<bean id="addressBook_HiveExportTask" class="com.tianji.r.core.job.task.HiveExportTask">
		<property name="hiveExportList">
			<list>
				<ref bean="addressBook_HiveTableOutDB"/>
			</list>
		</property>
	</bean>

	<batch:job id="addressBook_hiveJob">
	
		<!-- 		
		<batch:step id="addressBook_DBTransformStep" next="addressBook_HiveImportStep">
			<batch:tasklet ref="addressBook_DBTransformTask" />
		</batch:step> 
		-->
		
		<batch:step id="addressBook_HiveImportStep" next="addressBook_HiveAlgorithmStep">
			<batch:tasklet ref="addressBook_HiveImportTask" />
		</batch:step>

		<batch:step id="addressBook_HiveAlgorithmStep" next="addressBook_HiveExportStep">
			<batch:tasklet ref="addressBook_HiveAlgorithmTask" />
		</batch:step>

		<batch:step id="addressBook_HiveExportStep">
			<batch:tasklet ref="addressBook_HiveExportTask" />
		</batch:step>
		
	</batch:job>

</beans>
