<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:batch="http://www.springframework.org/schema/batch"
	xmlns:hadoop="http://www.springframework.org/schema/hadoop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/batch 
		http://www.springframework.org/schema/batch/spring-batch-2.1.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/hadoop 
		http://www.springframework.org/schema/hadoop/spring-hadoop.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<description>
		PYMK -- Same IP
	</description>
	

	<bean id="sameIP_importIntoHdfsTask" class="com.tianji.r.core.job.task.HdfsImportTask">
		<property name="hdfsNewList">
			<list>
				<ref bean="hdfs_o_same_ip"/>
			</list>
		</property>
	</bean>

	<bean id="sameIP_MapRedAlgorithmConf" class="com.tianji.r.core.conf.MapRedAlgorithmConf">
		<property name="hdfsPath" ref="hdfs_o_same_ip"/>
		<property name="mapReduceClass" value="com.tianji.r.core.algorithm.pymk.SameIPMRAlgorithm"/>
		<property name="mapperClass" value="com.tianji.r.core.algorithm.pymk.SameIPMRAlgorithm$SameIPMapper"/>
		<property name="reducerClass" value="com.tianji.r.core.algorithm.pymk.SameIPMRAlgorithm$SameIPReducer"/>
		<property name="outputKeyClass" value="org.apache.hadoop.io.Text"/>
		<property name="outputValueClass" value="org.apache.hadoop.io.IntWritable"/>
	</bean>

 	<bean id="sameIP_MapRedAlgorithmTask" class="com.tianji.r.core.job.task.MapRedAlgorithmTask">
		<property name="jobConf" ref="sameIP_MapRedAlgorithmConf" />
	</bean>
	
	<bean id="sameIP_HiveImportTask" class="com.tianji.r.core.job.task.HiveImportTask">
		<property name="hiveNewList">
			<list>
				<ref bean="hive_o_same_ip"/>
			</list>
		</property>
	</bean>
	
	<batch:job id="sameIP_MapRedJob">
		<batch:step id="sameIP_importIntoHdfsStep" next="sameIP_MapRedAlgorithmStep">
			<batch:tasklet ref="sameIP_importIntoHdfsTask" />
		</batch:step>
		
		<batch:step id="sameIP_MapRedAlgorithmStep" next="sameIP_HiveImportStep">
			<batch:tasklet ref="sameIP_MapRedAlgorithmTask" />
		</batch:step>
		
		<batch:step id="sameIP_HiveImportStep">
			<batch:tasklet ref="sameIP_HiveImportTask" />
		</batch:step>

	</batch:job> 

</beans>
