<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:batch="http://www.springframework.org/schema/batch"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/batch 
		http://www.springframework.org/schema/batch/spring-batch-2.1.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<description>
		Database Sync
	</description>

	<context:component-scan base-package="com.tianji.r.core.job.dbsync" />

	<bean id="addressBooks" class="com.tianji.r.core.job.dbsync.DbSyncConf">
		<property name="taskName" value="addressBooks" />
		<property name="remoteExportFile" value="addressBooks.csv" />
		<property name="remoteExportFolder" value="/tmp/" />
		<property name="remoteExportDataSource" value="qaDataSource"/>
		<property name="remoteExportSCPConection" value="qaSCPConnection"/>
		<property name="localImportDataSource" value="deskDataSource"/>
		<property name="remoteExportSQL">
			<value>
				<![CDATA[
					SELECT id,user_id,email,create_time FROM address_books LIMIT 100
				]]>
			</value>
		</property>
		<property name="localFolder" value="D:/workspace/java/tianji-recommmendation/metadata/data/" />
		<property name="localImportTable" value="o_address_books" />
	</bean>

	<bean id="accounts" class="com.tianji.r.core.job.dbsync.DbSyncConf">
		<property name="taskName" value="accounts" />
		<property name="remoteExportFile" value="accounts.csv" />
		<property name="remoteExportFolder" value="/tmp/" />
		<property name="remoteExportDataSource" value="qaDataSource"/>
		<property name="remoteExportSCPConection" value="qaSCPConnection"/>
		<property name="localImportDataSource" value="deskDataSource"/>
		<property name="remoteExportSQL">
			<value>
				<![CDATA[
					SELECT id,email,updated_at FROM accounts LIMIT 100
				]]>
			</value>
		</property>
		<property name="localFolder" value="D:/workspace/java/tianji-recommmendation/metadata/data/" />
		<property name="localImportTable" value="o_accounts" />
	</bean>

	<bean id="dbSyncMain" class="com.tianji.r.core.job.dbsync.DbSyncMain">
		<property name="dbSyncConfList">
			<list>
				<ref bean="addressBooks" />
				<ref bean="accounts" />
			</list>
		</property>
	</bean>

	<batch:job id="dbSyncJob">
		<batch:step id="exportCSVStep" next="scpGetCSVStep">
			<batch:tasklet ref="exportCSVTask" />
		</batch:step>
		<batch:step id="scpGetCSVStep" next="importIntoDBStep">
			<batch:tasklet ref="scpGetCSVTask" />
		</batch:step>
		<batch:step id="importIntoDBStep">
			<batch:tasklet ref="importIntoDBTask" />
		</batch:step>
	</batch:job>

</beans>
